{% extends "core/dashboard/base.html" %} 
{% load static %}
{% block main %}
<main>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-xl px-4">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-5">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title text-center">
                            <div class="page-header-icon"><i data-feather="file"></i></div>
                            CREATE NEW FCY EXCHANGE REQUEST
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container-xl px-4 mb-3">
        <div class="card">
            <div class="card-header">FCY EXCHANGE DENO DETAILS</div>
            <div class="card-body">
                
                <form id="form-container" method="POST">
                    {% csrf_token %}
                    <div class="row g-3 mb-3">

                        <div class="col-md-3 mb-3">
                            
                            <label class="form-label">Prefered Branch<b class="text-danger"> *</b></label>
                            {{form.preferredBranch}}
                            {% if form.preferredBranch.errors %}
                                <span class="text-danger">
                                    {% for error in form.preferredBranch.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                    {{formset.management_form}}
                    {% for form in formset %}
                    <div class="row g-3 mb-3 p-3 border border-primary rounded bird-form mt-3">
                        <div class="col-md-3 mb-3">
                            <label for="{{ form.currency.id_for_label }}">{{ form.currency.label }}<b class="text-danger"> *</b></label>
                            {{ form.currency }}
                            {% if form.currency.errors %}
                                <span class="text-danger">
                                    {% for error in form.currency.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="{{ form.deno.id_for_label }}">{{ form.deno.label }}<b class="text-danger"> *</b></label>
                            {{ form.deno }}
                            {% if form.deno.errors %}
                                <span class="text-danger">
                                    {% for error in form.deno.errors %}
                                        <div>{{ error }}</div> <!-- Display validation errors within the input field -->
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>                        
                        <div class="col-md-2 mb-3">
                            <label for="{{ form.unit.id_for_label }}">{{ form.unit.label }}<b class="text-danger"> *</b></label>
                            {{ form.unit }}
                            {% if form.unit.errors %}
                                <span class="text-danger">
                                    {% for error in form.unit.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="{{ form.rate.id_for_label }}">{{ form.rate.label }}<b class="text-danger"> *</b></label>
                            {{ form.rate }}
                            {% if form.rate.errors %}
                                <span class="text-danger">
                                    {% for error in form.rate.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="{{ form.equivalentNPR.id_for_label }}">{{ form.equivalentNPR.label }}<b class="text-danger"> *</b></label>
                            {{ form.equivalentNPR }}
                            {% if form.equivalentNPR.errors %}
                                <span class="text-danger">
                                    {% for error in form.equivalentNPR.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                        <div class="col-md-1">
                            <button class="add-form btn-sm btn-primary" id="add-form">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="row mt-3">
                        <div class="col-md-3 mb-3">
                            <label class="form-label">Total Equivalent NPR<b class="text-danger"> *</b></label>
                            <input class="form-control {% if form.totalEquivalentNPR.errors %}is-invalid{% endif %}" type="text" min="0" id="totalEquivalentNPR" name="totalEquivalentNPR" value="{{ form.cleaned_data.totalEquivalentNPR }}"  readonly/>
                            {% if form.totalEquivalentNPR.errors %}
                                <span class="text-danger">
                                    {% for error in form.totalEquivalentNPR.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                        <div class="col-md-8 mb-3">
                            <label class="form-label">Total Equivalent NPR in Words<b class="text-danger"> *</b></label>
                            <input class="form-control {% if form.totalEquivalentNPRToWords.errors %}is-invalid{% endif %}" type="text" min="0" id="totalEquivalentNPRToWords" name="totalEquivalentNPRToWords" value="{{ form.cleaned_data.totalEquivalentNPRToWords }}" readonly />
                            {% if form.totalEquivalentNPRToWords.errors %}
                                <span class="text-danger">
                                    {% for error in form.totalEquivalentNPRToWords.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                    <button class="btn btn-primary" id="displaymodal" type="button">Submit</button>
                    <div class="modal fade" id="formDataModal" tabindex="-1" aria-labelledby="formDataModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg  modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="formDataModalLabel">Preview Form Data</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- Display form data here -->
                                    <div id="formDataTable">
                                        <div class="container">
                                            <section class="foreign-exchange my-5">
                                            
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <a class="navbar-brand" href="jbbl.com.np">
                                                            <img class="logo w-100" src="{% static 'images/logo.png' %}"  alt="Logo">
                                                        </a>
                                                    </div>
                                                    <div class="col-md-1"></div>
                                                    <div class="col-md-6 text-center">
                                                        <h3 class="text-center pt-2">Foreign Currency Deposit Voucher</h3>
                                                    </div>
                                                </div>
                                    
                                                <div class="info d-flex mt-3">
                                                    <div class="name">
                                                        <p>Mr/Ms:-{{request.user.first_name}} {{request.user.last_name}}</p>
                                                        <p>Account Number:- {{request.user.client_code}}</p>
                                                    </div>
                                                    <div class="date">
                                                        <p>Date:-</span><span id="currentDate"></span></p>
                                                    </div>
                                                </div>			
                                            
                                    
                                                <table class="table table-bordered text-Underline" width="100%" cellspacing="0" id="exchangeRates">
                                                    <thead>
                                                        <tr>                                             
                                                            <th>Particulars Cash/T.C.</th>
                                                            <th>Deno</th>
                                                            <th>Unit</th>
                                                            <th>Rate</th>
                                                            <th>NPR equivalent</th>
                                                                                              
                                                        </tr>
                                                    </thead>
                                                    <tbody id="myData">
                                                    </tbody>
                                                    <tbody>
                                                        <tr>               
                                                            <td width="20%" colspan="3" class="text-right"></td>   
                                                            <td width="20%">Total Rs. </td> 
                                                            <td width="15%" class="text-right"><span id="totalAmountNPR"></span></td>                                     
                                                        </tr>
                                                        <tr>               
                                                            <td width="20%" colspan="5" class="text-right">Rupees Equivalent in Words:<span id="outputText"></span></td>
                                                        </tr>
                                                        <tr class="sign-address"> 
                                                            <td class="" colspan="3">Customer's Signature</td>                                   
                                                            <td class="" colspan="2">Local Address: {{request.user.address}}</td>                  
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </section>
                                            <section class="foreign-exchange my-5">
                                            
                                                <div class="info d-flex mt-3">
                                                    <div class="name">
                                                        
                                                        <p>Deposited By:- {{request.user.company}}</p>
                                                    </div>
                                                    <div class="date">
                                                        <p>Posted by:-</p>
                                                    </div>
                                                </div>			
                                        
                                            </section>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" id="submitFormDataBtn">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                
                
            </div>
        </div>
    </div>
</main>
<script>
    $(document).on('change', 'input[id$="-deno"]', function() {
        var parentRow = $(this).closest('.row');
    
        var denoInput = parentRow.find('input[id$="-deno"]');
        var currencySelect = parentRow.find('select[name$="-currency"]');
        var currencyDenominations = {
            'USD': [1, 2, 5, 10, 20, 50, 100],
            'EUR': [20, 5, 10, 50, 100, 200],
            'GBP': [20, 5, 10,50],
            'AUD': [1,2,100,20, 5, 10,50],
            'CHF': [100,20, 10,50,200],
            'CAD':[5,10,20,50,100],
            'SGD':[2,5,10,20,25,50,100,200],
            'CNY':[1,2,5,10,20,50,100],
            'SAR':[1,5,10,20,50,100,200,500],
            'QAR':[1,5,10,50,100,500],
            'THB':[20,50,100,500],
            'AED':[5,10,20,50,100,200,500],
            'MYR':[1,5,10,20,50,100],
            'SEK':[20,50,100,200,500],
            'DKK':[10,20,50,100,200],
            'HKD':[10,20,50,100,500],
            'INR':[100],
            'KRW':[500,1000, 10000,50000],
            'JPY':[1000],
            'KWD':[0.25,0.5,1,5,10,20],
            'BHD':[0.5,1,5,10,20,100], 
        };

        var denoValue = denoInput.val();
        var selectedCurrency = currencySelect.val();

        if (selectedCurrency && currencyDenominations[selectedCurrency]) {

            var denominations = currencyDenominations[selectedCurrency];
            if (denominations.includes(parseInt(denoValue))) {
                console.log('Deno value exists for ' + selectedCurrency);
 
            } else {
                alert('Invalid or Non-existing Deno value for ' + selectedCurrency);
                denoInput.val(''); 
            }
        } else {
            console.log('Invalid currency selection or denominations not found');

        }

    });    
</script>
<script>
$(document).ready(function(){
    function updateRate(parentRow) {
        var denoInput = parentRow.find('input[id$="-deno"]');
        var currencySelect = parentRow.find('select[name$="-currency"]');
        var rateInput = parentRow.find('input[id$="-rate"]');
        var unitInput = parentRow.find('input[id$="-unit"]'); // Assuming the unit field ID ends with '-unit'
        var csrftoken = getCookie('csrftoken');
    
        var denoValue = denoInput.val();
        var selectedCurrency = currencySelect.val();
    
        if (denoValue && selectedCurrency) {
            $.ajax({
                method: 'POST',
                url: '/getdenorate/', 
                data: {
                    'denoValue': denoValue,
                    'selectedCurrency': selectedCurrency
                },
                dataType: 'json',
                headers: {
                    'X-CSRFToken': csrftoken
                },
                success: function(data) {
                    var rate = data.rate || 'N/A';
                    rateInput.val(rate);
    
                    // Clear the unit field
                    unitInput.val('');
                }
            });
        } else {
            rateInput.val('');
            unitInput.val('');
        }
    }
    
    $(document).on('keyup change', 'input[id^="id_form-"][id$="-deno"], select[name$="-currency"]', function() {
        var parentRow = $(this).closest('.row');
        updateRate(parentRow);
    });
    
    
});
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>
<script>
    $(document).ready(function(){
        $(document).on('keyup change', 'input[id^="id_form-"][id$="-deno"], input[id^="id_form-"][id$="-rate"], input[id^="id_form-"][id$="-unit"], select[name$="-currency"]', function() {
            var totalEquivalentNPRValue = $('#totalEquivalentNPR').val();
            if (totalEquivalentNPRValue.trim() === '') {
                $('#totalEquivalentNPRToWords').val('');
                return; 
            }
            var csrftoken = getCookie('csrftoken');
            $.ajax({
                method: 'POST',
                url: '/convert_to_words/', 
                data: {
                    'totalEquivalentNPR': totalEquivalentNPRValue
                },
                dataType: 'json',
                headers: {
                    'X-CSRFToken': csrftoken
                },
                success: function(data) {
                    var totalEquivalentNPRToWords = data.totalEquivalentNPRToWords || 'N/A';
                    $('#totalEquivalentNPRToWords').val(totalEquivalentNPRToWords);
                }
            });
        });
    });
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $('body').on('input change', 'input[name*=rate], input[name*=deno], input[name*=unit]', function() {
            var currentField = $(this);
            var currentForm = currentField.closest('.bird-form');
            var rate = parseFloat(currentForm.find('input[name*="rate"]').val()) || 0;
            var deno = parseFloat(currentForm.find('input[name*="deno"]').val()) || 0;
            var unit = parseFloat(currentForm.find('input[name*="unit"]').val()) || 0;
            var equivalentNPRField = currentForm.find('input[name*="equivalentNPR"]');

            if (unit !== '' && rate !== '' && deno !== '') {
                var unitNum = parseFloat(unit);
                var rateNum = parseFloat(rate);
                var denoNum = parseFloat(deno);
            
                if (!isNaN(unitNum) && !isNaN(rateNum) && !isNaN(denoNum)) {
                    var equivalentNPR = denoNum * rateNum * unitNum;
                    if (!isNaN(equivalentNPR)) {
                        equivalentNPRField.val(equivalentNPR.toFixed(2));
                    }
        
                    // Calculate total equivalentNPR
                    var totalEquivalentNPR = 0;
                    $('input[name*="equivalentNPR"]').each(function() {
                        totalEquivalentNPR += parseFloat($(this).val()) || 0;
                    });
        
                    // Display total equivalentNPR
                    $('#totalEquivalentNPR').val(totalEquivalentNPR.toFixed(2));
                } else {
                    // Handle NaN (Not-a-Number) values
                    console.error('Invalid input. Please enter valid numbers.');
                }
            } else {
                // Handle empty input fields
                console.error('Please fill in all the fields: Unit, Rate, and Deno.');
            }
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        let addButton = document.querySelector("#add-form");
        let totalForms = document.querySelector("#id_form-TOTAL_FORMS");
    
        addButton.addEventListener('click', addForm);
    
        function addForm(e) {
            e.preventDefault();
        
            let birdForms = document.querySelectorAll(".bird-form");
            let newForm = birdForms[birdForms.length - 1].cloneNode(true);
            let formRegex = /form-(\d){1}-/g;
        
            let formNum = birdForms.length;
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`);
        
            // Reset the input fields of the cloned form
            newForm.querySelectorAll('input').forEach((input) => {
                input.value = '';
            });
        
            let container = document.querySelector(".bird-form");
        
            if (container) {
                container.insertAdjacentElement('afterend', newForm);
        
                // Create a remove button for the new form
                let removeButton = document.createElement('button');
                removeButton.className = 'sub-form btn-sm btn-secondary';
                removeButton.innerHTML = `
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" fill="currentColor" class="bi bi-dash-square-fill" viewBox="0 0 16 16">
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm2.5 7.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1z"/>
                    </svg>
                `;
                removeButton.addEventListener('click', function() {
                    newForm.remove();
                    totalForms.setAttribute('value', `${document.querySelectorAll(".bird-form").length}`);
                });
        
                let colDiv = newForm.querySelector('.col-md-1');
                if (colDiv) {
                    colDiv.innerHTML = '';
                    colDiv.insertAdjacentElement('beforeend', removeButton);
                } else {
                    console.error("Col-md-1 div not found or does not exist in the new form.");
                }
        
                totalForms.setAttribute('value', `${formNum + 1}`);
            } else {
                console.error("Container div not found or does not exist.");
            }
        }
        
    });       
</script>
<script>
    $(document).ready(function() {
        $('#submitFormDataBtn').on('click', function() {
            $('#form-container').submit();
        });
        $('#displaymodal').on('click', function() {
            let tableRows = '';

            $('.bird-form').each(function() {
                let currency = $(this).find('[id$="currency"]').val();
                let deno = $(this).find('[id$="deno"]').val();
                let unit = $(this).find('[id$="unit"]').val();
                let rate = $(this).find('[id$="rate"]').val();
                let equivalentNPR = $(this).find('[id$="equivalentNPR"]').val();

                tableRows += `<tr>
                    <td>${currency}</td>
                    <td>${deno}</td>
                    <td>${unit}</td>
                    <td>${rate}</td>
                    <td>${equivalentNPR}</td>
                </tr>`;
            });
            $('#myData').html(tableRows);
            let totalEquivalentNPR = $('#totalEquivalentNPR').val();
            $('#totalAmountNPR').text(totalEquivalentNPR);
            let totalEquivalentNPRToWords = $('#totalEquivalentNPRToWords').val();
            $('#outputText').text(totalEquivalentNPRToWords);
            $('#formDataModal').modal('show');
        });
    });
</script>
<script>
    let currentDate = new Date();
    let formattedDate = currentDate.toISOString().split('T')[0];
    document.getElementById('currentDate').innerText = formattedDate;
    $(document).ready(function() {
        $('#exchangeRates').DataTable({
            "searching": false, 
            "paging": false ,
          "columnDefs": [
            { "orderable": true, "targets": [0, 1,2] } 
          ],
          "order": [[0, 'asc']] 
        });
    });      
</script>

<style type="text/css">
	/*foreign-exchange-section-started*/
	.foreign-exchange {
		border: 1px solid #134072;
		padding: 25px;
	}

	.foreign-exchange .info {
		justify-content: space-between;
	}

	.table {
        color: #134072;
    }

    .table th, .table td {
        border: 1px solid #134072;
    }

    /*.table .sign-address {
    	justify-content: space-between;
    }*/

</style>
{% endblock main %}