{% extends "core/dashboard/base.html" %} 
{% load static %}
{% block main %}
<main>
    <!-- Main page content-->
    <div class="container-xl px-4 mt-5">
        <!-- Custom page header alternative example-->
        <div class="d-flex justify-content-between align-items-sm-center flex-column flex-sm-row mb-4">
            <div class="me-4 mb-3 mb-sm-0">
                <h1 class="mb-0">Dashboard</h1>
                <div class="small">
                    <span class="fw-500 text-primary" id="current-day"></span>
                    · <span id="current-date"></span>
                    · <span id="current-time"></span>
                </div>
            </div>
            <!-- Date range picker example-->
            <div class="border-0 shadow" style="width: 9rem">
                {% if request.user.role == 1 %}
                    <span class="input-group-text"><i data-feather="plus"></i><a class="ps-0 pointer" href="{% url 'createfcyexchange' %}">New Request</a></span>
                {% elif request.user.role == 2 %}
                    <span class="input-group-text"><i data-feather="plus"></i><a class="ps-0 pointer" href="{% url 'fcyexchangerequest' %}">My Request List</a></span>
                {% else %}
                <span class="input-group-text"><i data-feather="plus"></i><a class="ps-0 pointer" href="{% url 'createfcyexchange' %}">New Request</a></span>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <!-- Dashboard info widget 1-->
                <div class="card border-start-lg border-start-primary h-100">
                    <div class="card-body">
                        {% if request.user.role == 0 %}
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <div class="small fw-bold text-primary mb-1">Total Active User (Active)</div>
                                    <div class="h5">{{total_users}}</div>
                                    {% comment %} <div class="text-xs fw-bold text-success d-inline-flex align-items-center">
                                        <i class="me-1" data-feather="trending-up"></i>
                                        12%
                                    </div> {% endcomment %}
                                </div>
                                <div class="ms-2"><i class="fas fa-user fa-2x text-gray-200"></i></div>
                            </div>
                        
                        {% elif request.user.role == 2 %}
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <div class="small fw-bold text-primary mb-1">Total Transaction (Pending)</div>
                                    <div class="h5">{{total_tran_pending_branch}}</div>
                                    {% comment %} <div class="text-xs fw-bold text-success d-inline-flex align-items-center">
                                        <i class="me-1" data-feather="trending-up"></i>
                                        12%
                                    </div> {% endcomment %}
                                </div>
                                <div class="ms-2"><i class="fas fa-user fa-2x text-gray-200"></i></div>
                            </div>
                        {% else %}
                            {% if user_top_currencies %}
                                {% with first_currency=user_top_currencies.0 %}
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1">
                                            <div class="small fw-bold text-primary mb-1">Total Exchnaged: {{ first_currency.0 }}</div>
                                            <div class="h5">{{ first_currency.1 }}</div>
                                        </div>
                                        <div class="ms-2"><i class="fas fa-dollar-sign fa-2x text-gray-200"></i></div>
                                    </div>
                                {% endwith %}
                            {% endif %} 
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <!-- Dashboard info widget 2-->
                <div class="card border-start-lg border-start-secondary h-100">
                    <div class="card-body">
                        {% if request.user.role == 0 %}
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <div class="small fw-bold text-secondary mb-1">Total Transaction (Approved)</div>
                                    <div class="h5">{{total_transaction}}</div>
                                    {% comment %} <div class="text-xs fw-bold text-danger d-inline-flex align-items-center">
                                        <i class="me-1" data-feather="trending-down"></i>
                                        3%
                                    </div> {% endcomment %}
                                </div>
                                <div class="ms-2"><i class="fas fa-tag fa-2x text-gray-200"></i></div>
                            </div>
                        {% elif request.user.role == 2 %}
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <div class="small fw-bold text-secondary mb-1">Total Transaction (Approved)</div>
                                    <div class="h5">{{total_tran_approved_branch}}</div>
                                    {% comment %} <div class="text-xs fw-bold text-danger d-inline-flex align-items-center">
                                        <i class="me-1" data-feather="trending-down"></i>
                                        3%
                                    </div> {% endcomment %}
                                </div>
                                <div class="ms-2"><i class="fas fa-tag fa-2x text-gray-200"></i></div>
                            </div>
                        {% else %}
                            {% if user_top_currencies %}
                                {% with first_currency=user_top_currencies.1 %}
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1">
                                            <div class="small fw-bold text-primary mb-1">Total Exchnaged: {{ first_currency.0 }}</div>
                                            <div class="h5">{{ first_currency.1 }}</div>
                                        </div>
                                        <div class="ms-2"><i class="fas fa-dollar-sign fa-2x text-gray-200"></i></div>
                                    </div>
                                {% endwith %}
                            {% endif %}      
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <!-- Dashboard info widget 3-->
                <div class="card border-start-lg border-start-success h-100">
                    <div class="card-body">
                        {% if request.user.role == 0 %}
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <div class="small fw-bold text-success mb-1">Total NPR Exchanged</div>
                                    <div class="h5">Rs {{sum_of_equivalent_npr}}/-</div>
                                    {% comment %} <div class="text-xs fw-bold text-success d-inline-flex align-items-center">
                                        <i class="me-1" data-feather="trending-up"></i>
                                        12%
                                    </div> {% endcomment %}
                                </div>
                                <div class="ms-2"><i class="fas fa-mouse-pointer fa-2x text-gray-200"></i></div>
                            </div>
                        {% elif request.user.role == 2 %}
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <div class="small fw-bold text-success mb-1">Total NPR Exchanged</div>
                                    <div class="h5">Rs {{sum_NPR_branch}}/-</div>
                                    {% comment %} <div class="text-xs fw-bold text-success d-inline-flex align-items-center">
                                        <i class="me-1" data-feather="trending-up"></i>
                                        12%
                                    </div> {% endcomment %}
                                </div>
                                <div class="ms-2"><i class="fas fa-mouse-pointer fa-2x text-gray-200"></i></div>
                            </div>
                        {% else %}
                            {% if user_top_currencies %}
                                {% with first_currency=user_top_currencies.2 %}
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1">
                                            <div class="small fw-bold text-primary mb-1">Total Exchnaged: {{ first_currency.0 }}</div>
                                            <div class="h5">{{ first_currency.1 }}</div>
                                        </div>
                                        <div class="ms-2"><i class="fas fa-dollar-sign fa-2x text-gray-200"></i></div>
                                    </div>
                                {% endwith %}
                            {% endif %} 
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <!-- Dashboard info widget 4-->
                <div class="card border-start-lg border-start-info h-100">
                    <div class="card-body">
                        {% if request.user.role == 0 %}
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <div class="small fw-bold text-info mb-1">Conversion rate</div>
                                    <div class="h5">{{conversion_ratio}}%</div>
                                    {% comment %} <div class="text-xs fw-bold text-danger d-inline-flex align-items-center">
                                        <i class="me-1" data-feather="trending-down"></i>
                                        1%
                                    </div> {% endcomment %}
                                </div>
                                <div class="ms-2"><i class="fas fa-percentage fa-2x text-gray-200"></i></div>
                            </div>
                        {% elif request.user.role == 2 %}
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <div class="small fw-bold text-info mb-1">Conversion rate</div>
                                    <div class="h5">{{conversion_ratio_branch}}%</div>
                                    {% comment %} <div class="text-xs fw-bold text-danger d-inline-flex align-items-center">
                                        <i class="me-1" data-feather="trending-down"></i>
                                        1%
                                    </div> {% endcomment %}
                                </div>
                                <div class="ms-2"><i class="fas fa-percentage fa-2x text-gray-200"></i></div>
                            </div>
                        {% else %}
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <div class="small fw-bold text-success mb-1">Total Exchanged: NPR</div>
                                    <div class="h5">Rs {{sum_NPR_self}}/-</div>
                                    {% comment %} <div class="text-xs fw-bold text-success d-inline-flex align-items-center">
                                        <i class="me-1" data-feather="trending-up"></i>
                                        12%
                                    </div> {% endcomment %}
                                </div>
                                <div class="ms-2"><i class="fas fa-mouse-pointer fa-2x text-gray-200"></i></div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <!-- Area chart example-->
                <div class="card mb-4">
                    <div class="card-header">JBBL Today's Exchange Rate</div>
                    <div class="card-body p-0">
                        <div class="table-responsive table-billing-history p-3">
                            <table class="table mb-0" id="datatablesSimple1">
                                <thead>
                                    <tr>
                                        <th>Currency</th>
                                        <th>Unit</th>
                                        <th>Buy (cash)</th>
                                        <th>Buy (Non-cash)</th>
                                        {% comment %} <th>Sell</th> {% endcomment %}
                                        <th>Premium Rate</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in filtered_data %}
                                        <tr>
                                            <td>{{data.currency}}</td>
                                            <td>{{data.currency_unit}}</td>
                                            <td>{{data.buying_rate_deno_50_or_less}}</td>
                                            <td>{{data.buying_rate_deno_50_or_above}}</td>
                                            {% comment %} <td>{{data.selling_rate}}</td> {% endcomment %}
                                            <td>{{data.premium_rate}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- Area chart example-->
                <div class="card mb-4">
                    <div class="card-header">NRB Today's Exchange Rate</div>
                    <div class="card-body p-0">
                        <div class="table-responsive table-billing-history p-3">
                            <table class="table mb-0" id="datatablesSimple2">
                                <thead>
                                    <tr>
                                        <th>Currency</th>
                                        <th>Unit</th>
                                        <th>Buy</th>
                                        <th>Sell</th>
                                    </tr>
                                </thead>
                                {% if api_data %}
                                    {% for payload in api_data.data.payload %}
                                        {% for rate in payload.rates %}
                                            <tr>
                                                <td>{{ rate.currency.name }}</td>
                                                <td>{{ rate.currency.unit }}</td>
                                                <td>{{ rate.buy }}</td>
                                                <td>{{ rate.sell }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="4">No data available</td>
                                    </tr>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <p class="m-3 p-3 text-danger text-center">Note: The exchange rates mentioned above are for value upto USD 2,000 only. Further, the exchange rates are indicative and subject to change according to market volatility without any prior notice.</p>
            </div>
        </div>
    </div>
</main>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Notice</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">...</div>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function () {
        $(document).ready(function() {
            var dataTable = $('#datatablesSimple1').DataTable({
                paging: true,
                scrollY: '260px', // Set the height for vertical scrolling
                scrollCollapse: true
            });
        });        
        $(document).ready(function() {
            var dataTable = $('#datatablesSimple2').DataTable({
                paging: true,
                scrollY: '300px', // Set the height for vertical scrolling
                scrollCollapse: true
            });
        });    
    })();
</script>
{% endblock main %}