{% extends "core/dashboard/base.html" %} 
{% load static %}
{% block main %}
<main>
    <div class="container-xl px-5 mt-5">
        <!-- Knowledge base article-->
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center">
                <a class="btn btn-transparent-dark btn-icon" href="{% url "fcyexchangerequest" %}"><i data-feather="arrow-left"></i></a>
                <div class="ms-3"><h2 class="my-3">Transaction Details</h2></div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div><strong>Request Id:</strong>
                                {{ fcyrequest.refrenceid }}</div>
                            </li>
                            <li class="list-group-item">
                                <div><strong>Requested Date:</strong>
                                {{fcyrequest.date}}</div>
                            </li>
                            <li class="list-group-item">
                                <div><strong>Branch Name:</strong>
                                {{fcyrequest.prefBranchName}}</div>
                            </li>
                            <li class="list-group-item">
                                <div><strong>Customer's Name:</strong>
                                {{fcyrequest.customer_fullname}}</div>
                            </li>
                            <li class="list-group-item">
                                {% if fcyrequest.status  == 'Rejected'  %}
                                    <div><strong>Rejected Date:</strong>
                                {% else %}
                                    <div><strong>Approved Date:</strong>
                                {% endif %}
                                {% if fcyrequest.status  == 'Requested'  %}
                               
                                {% elif fcyrequest.status == 'Rejected' %}
                                    <p>{{fcyrequest.updateDate}}</p>
                                {% elif fcyrequest.status == 'Approved' %}
                                    <p>{{fcyrequest.updateDate}}</p>
                                {% else %}
                                
                                {% endif %}
                                </div>
                            </li>
                            {% if fcyrequest.status  == 'Approved'  %}
                                {% if request.user.role == 0 or request.user.role == 2 %}
                                    <li class="list-group-item">
                                        <div>
                                            <a href="{% url "getreceipt" fcyrequest.id %}" class="btn-sm btn-primary" title="Print Receipt">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" fill="currentColor" class="bi bi-printer-fill" viewBox="0 0 16 16">
                                                    <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1"/>
                                                    <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
                                                </svg>
                                            </a>
                                            &nbsp;&nbsp;&nbsp;
                                            <a href="{% url "batchdump" fcyrequest.id %}" class="btn-sm btn-success" title="Download Batch File">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" fill="currentColor" class="bi bi-file-earmark-excel-fill" viewBox="0 0 16 16">
                                                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M5.884 6.68 8 9.219l2.116-2.54a.5.5 0 1 1 .768.641L8.651 10l2.233 2.68a.5.5 0 0 1-.768.64L8 10.781l-2.116 2.54a.5.5 0 0 1-.768-.641L7.349 10 5.116 7.32a.5.5 0 1 1 .768-.64z"/>
                                                </svg>
                                            </a>
                                            &nbsp;&nbsp;&nbsp;
                                            <button  width="30" height="20" class="btn-sm btn-secondary" onclick="printSection('sectionToPrint')">Print Section</button>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div><strong>Email:</strong>
                                {{fcyrequest.enteredBy}}</div>
                            </li>
                            <li class="list-group-item">
                                <div><strong>Status:</strong>
                                    {% if fcyrequest.status  == 'Requested' or fcyrequest.status  == 'Forwarded'  %}
                                <p class="badge bg-warning text-white rounded-pill">Pending</p>
                                {% elif fcyrequest.status == 'Rejected' %}
                                <p class="badge bg-danger text-white rounded-pill">Rejected</p>
                                {% elif fcyrequest.status == 'Approved' %}
                                <p class="badge bg-success text-white rounded-pill">Approved</p>
                                {% else %}
                                
                                {% endif %}
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div><strong>Remarks:</strong>
                                {% if fcyrequest.status  == 'Requested'  %}
                               
                                {% elif fcyrequest.status == 'Rejected' %}
                                    <p>{{fcyrequest.remarks}}</p>
                                {% elif fcyrequest.status == 'Approved' %}
                                    <p>{{fcyrequest.remarks}}</p>
                                {% else %}
                                
                                {% endif %}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 mt-4 p-3">
                        <!-- Area chart example-->
                        <div class="card mb-4">
                            <div class="card-header text-center">Denomination Detail's</div>
                            <div class="card-body p-0">
                                <div class="table-responsive table-billing-history">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th>Currency</th>
                                                <th class="text-center">Deno Details</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for currency, details in data_by_currency.items %}
                                                <tr>
                                                    <td>{{ currency }}</td>
                                                    <td>
                                                        <table class="table mb-0">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>Deno</th>
                                                                    <th>Unit</th>
                                                                    <th>Rate</th>
                                                                    <th>Equivalent NPR</th>
                                                            
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for detail in details %}
                                                                    <tr>
                                                                        <td></td>
                                                                        <td>{{ detail.deno }}</td>
                                                                        <td>{{ detail.unit }}</td>
                                                                        <td>{{ detail.rate }}</td>
                                                                        <td>{{ detail.equivalent_npr }}</td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>                                   
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row mb-4">
                    <div class="col-lg-8">
                        <label class="form-label">Total Equivalent NPR in Words<b class="text-danger"> *</b></label>
                        <input class="form-control {% if form.totalEquivalentNPRToWords.errors %}is-invalid{% endif %}" type="text" min="0" id="totalEquivalentNPRToWords" name="totalEquivalentNPRToWords" value="{{ fcyrequest.totalEquivalentNPRToWords }}" readonly />
                        {% if form.totalEquivalentNPRToWords.errors %}
                            <span class="text-danger">
                                {% for error in form.totalEquivalentNPRToWords.errors %}
                                    {{ error }}
                                {% endfor %}
                            </span>
                        {% endif %}
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-3">
                        <label class="form-label">Total Equivalent NPR<b class="text-danger"> *</b></label>
                        <input class="form-control {% if form.totalEquivalentNPR.errors %}is-invalid{% endif %}" type="text" min="0" id="totalEquivalentNPR" name="totalEquivalentNPR" value="{{ fcyrequest.totalEquivalentNPR }}"  readonly/>
                        {% if form.totalEquivalentNPR.errors %}
                            <span class="text-danger">
                                {% for error in form.totalEquivalentNPR.errors %}
                                    {{ error }}
                                {% endfor %}
                            </span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xl px-4 mt-5">
        <section class="foreign-exchange-encashment my-5 pb-5" id="sectionToPrint"  style="display:none;">
            <page size="A4">
                <div class="px-5">
                    <div class="row pt-5">
                        <div class="col-md-12 text-center">
                            <a class="navbar-brand" href="jbbl.com.np">
                                <img class="logo" src="https://apps.jbbl.com.np/Assets/img/Adminlogo.png" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <div class="small-line" style=" width: 100%; height: 3px; background: #000000; margin: 20px 0px;"></div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h4>FOREIGN EXCHANGE ENCASHMENT RECEIPT</h4>
                        </div>
                        <div class="col-md-12 p-0">
                            <p class="m-0">Receipt No: {{ fcyrequest.refrenceid }}</p>
                            <p>Date: {{fcyrequest.date}}</p>
                            <p>Account Number: {{userdetails.client_code}}</p>
                        </div>
                        <p class="p-0">We hereby certify that we have purchased today foreign currency as mentioned below from  {{fcyrequest.customer_fullname}}.</p>
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th>Currency</th>
                                    <th class="text-center">Deno Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for currency, details in data_by_currency.items %}
                                    <tr>
                                        <td>{{ currency }}</td>
                                        <td>
                                            <table class="table mb-0">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Deno</th>
                                                        <th>Unit</th>
                                                        <th>Rate</th>
                                                        <th>Equivalent NPR</th>
                                                
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for detail in details %}
                                                        <tr>
                                                            <td></td>
                                                            <td>{{ detail.deno }}</td>
                                                            <td>{{ detail.unit }}</td>
                                                            <td>{{ detail.rate }}</td>
                                                            <td>{{ detail.equivalent_npr }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                                                          
                        <h5 class="text-end"><b>Total Equivalent NPR:</b> {{ fcyrequest.totalEquivalentNPR }}</h5>
                        <br><br><br><br>
                        <p class="p-0">NPR Amount in Words: {{ fcyrequest.totalEquivalentNPRToWords }}</p><br><br><br>
                        <p class="p-0">Customer's Signature:_______________________________</p><br><br><br><br><br><br><br>

                        <p class="p-0">Signature & Stamp of the Bank</p>
                    </div>
                </div>
                <footer class="footer bg-white" style="padding: 1.3rem 0; flex-shrink: 0; right: 0; left: 0; bottom: 0;">
                    <div class="container my-auto">
                        <div class="copyright my-auto" style="font-size: 17px; text-align: center;">
                            <span>*** This document is electronically generated and does not require digital signature.***</span>
                        </div>
                    </div>
                </footer>
            </page>
        </section>
    </div>
</main>
<style>@page { size: A4 landscape2}</style>
<style type="text/css">
    /*foreign-exchange-encashment-section-started*/
    page[size="A4"] {  
      width: 21cm;
      height: auto; 
    }

    @page {
        size: A4 landscape;
        margin: 0;
    }

    page {
	    background: white;
	    display: block;
        margin-top: 5.2cm;
        margin-bottom: 5.5cm;
        margin-left: 4.5cm; 
        margin-right: 4.5cm;
	    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
	}

    .table>:not(caption)>*>* {
        padding: 0.5rem 0.5rem;
        background-color: var(--bs-table-bg);
        border-bottom-width: 0px;
        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    }

    .foreign-exchange-encashment .info {
        justify-content: space-between;
    }

    .foreign-exchange-encashment h4 {
        color: #21ABE3;
    }


    /*foreign-exchange-encashment-section-ended*/
</style>
<style>
    /* Common styles */
    @media print {
        /* Your existing styles */
        @page {
            size: A4 landscape;
            margin: 0;
        }

        page[size="A4"] {  
            width: 21cm;
            height: 29.7cm; 
        }

        page {
            background: white;
            display: block;
            padding-top: 5.2cm;
            padding-bottom: 5.5cm;
            padding-left: 4.5cm; 
            padding-right: 4.5cm;
            box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
        }

        .table>:not(caption)>*>* {
            padding: 0.5rem 0.5rem;
            background-color: var(--bs-table-bg);
            border-bottom-width: 0px;
            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
        }

        .foreign-exchange-encashment .info {
            justify-content: space-between;
        }

        .foreign-exchange-encashment h4 {
            color: #21ABE3;
        }

        .foreign-exchange-encashment .table thead {
            background-color: #d2a12a;
            color: #21ABE3;
        }

        .foreign-exchange-encashment .table tbody {
            background-color: #f9e6bb;
        }

        /* Additional print-specific styles if needed */
    }
</style>
<script>
    $(document).ready(function() {
        $('.table.mb-0 table.mb-0').each(function() {
            var subtotalDeno = 0;
            var subtotalEquivalentNPR = 0;
            var subtotalUnit = 0;
            $(this).find('tbody tr').each(function() {
                var deno = parseFloat($(this).find('td:eq(1)').text());
                var unit = parseFloat($(this).find('td:eq(2)').text());
                var equivalentNPR = parseFloat($(this).find('td:eq(4)').text());
                subtotalDeno += deno;
                subtotalUnit += unit;
                subtotalEquivalentNPR += equivalentNPR;
            });
            var denounit = subtotalDeno * subtotalUnit;
            var subtotalRow = '<tr>' +
                '<td><b>Sub Total:</b></td>' +
                '<td colspan="2" class="text-center subtotal-deno-value"><b>' + denounit + '</b></td>' +
                '<td></td>' +
                '<td class="subtotal-equivalent-npr-value"><b>' + subtotalEquivalentNPR.toFixed(2) + '</b></td>' +
                '</tr>';
            $(this).find('tbody').append(subtotalRow);
        });
    });    
</script>
<script>
    function printSection(sectionId) {
        var printContent = document.getElementById(sectionId);
        var originalContent = document.body.innerHTML;
      
        document.body.innerHTML = printContent.innerHTML;
        window.print();
        
        // Restore the original content after printing
        document.body.innerHTML = originalContent;
      }      
</script>
{% endblock main %}