{% extends "core/dashboard/base.html" %} 
{% load static %}
{% block main %}
<main>
    <div class="container-xl px-4 mt-5">
        <!-- Knowledge base article-->
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center">
                <a class="btn btn-transparent-dark btn-icon" href="{% url "fcyexchangerequest" %}"><i data-feather="arrow-left"></i></a>
                <div class="ms-3"><h2 class="my-3">Transaction Details</h2></div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div><strong>Request Id:</strong>
                                {{ fcyrequest.refrenceid }}</div>
                            </li>
                            <li class="list-group-item">
                                <div><strong>Requested Date:</strong>
                                {{fcyrequest.date}}</div>
                            </li>
                            <li class="list-group-item">
                                <div><strong>Branch Name:</strong>
                                {{fcyrequest.prefBranchName}}</div>
                            </li>
                            <li class="list-group-item">
                                <div><strong>Customer's Name:</strong>
                                {{fcyrequest.customer_fullname}}</div>
                            </li>
                            <li class="list-group-item">
                                {% if fcyrequest.status  == 'Rejected'  %}
                                    <div><strong>Rejected Date:</strong>
                                {% else %}
                                    <div><strong>Approved Date:</strong>
                                {% endif %}
                                {% if fcyrequest.status  == 'Requested'  %}
                               
                                {% elif fcyrequest.status == 'Rejected' %}
                                    <p>{{fcyrequest.updateDate}}</p>
                                {% elif fcyrequest.status == 'Approved' %}
                                    <p>{{fcyrequest.updateDate}}</p>
                                {% else %}
                                
                                {% endif %}
                                </div>
                            </li>
                            {% if fcyrequest.status  == 'Approved'  %}
                            <li class="list-group-item">
                                <div><strong>Print Receipt:</strong>
                                    <a href="{% url "getreceipt" fcyrequest.id %}" class="btn-sm btn-primary">
                                        Download
                                    </a></div>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div><strong>Email:</strong>
                                {{fcyrequest.enteredBy}}</div>
                            </li>
                            <li class="list-group-item">
                                <div><strong>Status:</strong>
                                {% if fcyrequest.status  == 'Requested'  %}
                                <p class="badge bg-warning text-white rounded-pill">Pending</p>
                                {% elif fcyrequest.status == 'Rejected' %}
                                <p class="badge bg-danger text-white rounded-pill">Rejected</p>
                                {% elif fcyrequest.status == 'Approved' %}
                                <p class="badge bg-success text-white rounded-pill">Approved</p>
                                {% else %}
                                
                                {% endif %}
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div><strong>Remarks:</strong>
                                {% if fcyrequest.status  == 'Requested'  %}
                               
                                {% elif fcyrequest.status == 'Rejected' %}
                                    <p>{{fcyrequest.remarks}}</p>
                                {% elif fcyrequest.status == 'Approved' %}
                                    <p>{{fcyrequest.remarks}}</p>
                                {% else %}
                                
                                {% endif %}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 mt-4">
                        <!-- Area chart example-->
                        <div class="card mb-4">
                            <div class="card-header text-center">Denomination Detail's</div>
                            <div class="card-body p-0">
                                <div class="table-responsive table-billing-history">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th>Currency</th>
                                                <th class="text-center">Deno Details</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for currency, details in data_by_currency.items %}
                                                <tr>
                                                    <td>{{ currency }}</td>
                                                    <td>
                                                        <table class="table mb-0">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>Deno</th>
                                                                    <th>Unit</th>
                                                                    <th>Rate</th>
                                                                    <th>Equivalent NPR</th>
                                                            
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for detail in details %}
                                                                    <tr>
                                                                        <td></td>
                                                                        <td>{{ detail.deno }}</td>
                                                                        <td>{{ detail.unit }}</td>
                                                                        <td>{{ detail.rate }}</td>
                                                                        <td>{{ detail.equivalent_npr }}</td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-8">
                        <label class="form-label">Total Equivalent NPR in Words<b class="text-danger"> *</b></label>
                        <input class="form-control {% if form.totalEquivalentNPRToWords.errors %}is-invalid{% endif %}" type="text" min="0" id="totalEquivalentNPRToWords" name="totalEquivalentNPRToWords" value="{{ fcyrequest.totalEquivalentNPRToWords }}" readonly />
                        {% if form.totalEquivalentNPRToWords.errors %}
                            <span class="text-danger">
                                {% for error in form.totalEquivalentNPRToWords.errors %}
                                    {{ error }}
                                {% endfor %}
                            </span>
                        {% endif %}
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-3">
                        <label class="form-label">Total Equivalent NPR<b class="text-danger"> *</b></label>
                        <input class="form-control {% if form.totalEquivalentNPR.errors %}is-invalid{% endif %}" type="text" min="0" id="totalEquivalentNPR" name="totalEquivalentNPR" value="{{ fcyrequest.totalEquivalentNPR }}"  readonly/>
                        {% if form.totalEquivalentNPR.errors %}
                            <span class="text-danger">
                                {% for error in form.totalEquivalentNPR.errors %}
                                    {{ error }}
                                {% endfor %}
                            </span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    $(document).ready(function() {
        $('.table.mb-0 table.mb-0').each(function() {
            var subtotalDeno = 0;
            var subtotalEquivalentNPR = 0;
            var subtotalUnit = 0;
            $(this).find('tbody tr').each(function() {
                var deno = parseFloat($(this).find('td:eq(1)').text());
                var unit = parseFloat($(this).find('td:eq(2)').text());
                var equivalentNPR = parseFloat($(this).find('td:eq(4)').text());
                subtotalDeno += deno;
                subtotalUnit += unit;
                subtotalEquivalentNPR += equivalentNPR;
            });
            var denounit = subtotalDeno * subtotalUnit;
            var subtotalRow = '<tr>' +
                '<td><b>Sub Total:</b></td>' +
                '<td colspan="2" class="text-center subtotal-deno-value"><b>' + denounit + '</b></td>' +
                '<td></td>' +
                '<td class="subtotal-equivalent-npr-value"><b>' + subtotalEquivalentNPR.toFixed(2) + '</b></td>' +
                '</tr>';
            $(this).find('tbody').append(subtotalRow);
        });
    });    
</script>
{% endblock main %}