{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>JBBL FCY EXCHANGE</title>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/fileinput.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
<body class="d-flex flex-column h-100">
    {% block navbar %}
    {% endblock navbar %}
    <main class="flex-shrink-0">
    {% block main %}
    {% endblock main %}
    </main>
    {% block footer %}
    {% endblock footer %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}" ></script>
    <script src="{% static 'js/bootstrap.min.js' %}" ></script>
    <script src="{% static 'js/fileinput.min.js' %}" ></script>
    <script src="{% static 'js/toastr.min.js' %}" ></script>
    <script src="{% static 'js/popper.min.js' %}" ></script>
    <script>
    
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": true,
        "progressBar": true,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": true,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      }
      {% if messages %}
      {% for message in messages %}
      {% if message.tags == 'success' %}
          toastr["success"]("{{ message }}", "JBBL FCY EXCHANGE");
      {% elif message.tags == 'error' %}
          toastr["error"]("{{ message }}", "JBBL FCY EXCHANGE");
      {% elif message.tags == 'info' %}
          toastr["info"]("{{ message }}", "JBBL FCY EXCHANGE");
      {% elif message.tags == 'warning' %}
          toastr["warning"]("{{ message }}", "JBBL FCY EXCHANGE");
      {% endif %}
      {% endfor %}
  {% endif %}
    </script>
</body>
</html>